@using proyecto.Helper
@using System.Security.Principal;
@{
    ViewData["Title"] = "Actividades";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>@SessionHelper.GetName(User)</p>
</div>
