@{
    ViewData["Title"] = "Registro";
}
@model proyecto.Models.Usuarios;
<h1>Registrar Agente</h1>

<form asp-action="Create" asp-controller="Usuario" id="Registrar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Usuario</label>
            <input type="text" asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Password</label>
            <input type="password" asp-for="Clave" class="form-control" />
            <span asp-validation-for="Clave" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">REGISTRAR</button>
    </div>
</form>
<div>
    <a asp-action="Index">Atras</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
